
<div class="jumbotron">
    <h1 class="display-4">Ez itt a magán oldalunk</h1>
    <p class="lead">Első szín</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
        Az Úr!
        Be van fejezve a nagy mű, igen.
        A gép forog, az alkotó pihen.
        Évmilliókig eljár tengelyén,
        Mig egy kerékfogát ujítni kell.
        Fel hát, világim véd-nemtői, fel,
        Kezdjétek végtelen pályátokat.
        Gyönyörködjem még egyszer bennetek,
        Amint elzúgtok lábaim alatt. 
    </p>
</div>


<div class="col-4">
    <div class="row">
        
    </div>
</div>

<div class="col-4">
    <div class="row">

    </div>
</div>

<div class="col-4">
    <div class="row">

    </div>
</div>
