@using Dextra.Helpers

<div class="col-4">
    <div class="row">
        @Html.IndexRender("BM", "~/App_Data/Files/Ftp/BM/version.nfo")
    </div>
</div>
<div class="col-4">
    <div class="row">
        
    </div>
</div>

<div class="col-4">
    <div class="row">

    </div>
</div>
