@using Dextra.Helpers

        <div class="jumbotron bg-cover" style="padding:0px;">

            <div class="container">
                <h1 class="display-4 retroshd">Személyes Mobil Defibrillátor</h1>
                <p class="lead">d'Ex-Aed: Okostelefonhoz csatlakoztatható defibrillátor eszköz</p>
            </div>
        </div>





<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image:url(@Url.Content("~/Content/images/aed/aed-2.png"))">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Web/Server alkalmazás</h2>
                <p class="lead"></p>
            </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image:url(@Url.Content("~/Content/images/aed/aed-2c.png"))">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Android mobil applikáció</h2>
                <p class="lead"></p>
            </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image:url(@Url.Content("~/Content/images/aed/aed-2d.png"))">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Okostelefonhoz csatlakoztatható defibrillátor</h2>
                <p class="lead"></p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Előzö</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Következő</span>
    </a>
</div>


<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="jumbotron" style="background-color:transparent;">

            <p class="lead">Egy Automata Életmentő Defibrillátor, mely elektromos ütés leadásával újraindítja a normál szívműködést..</p>
            <hr class="my-4">
            <p class="text-justify">Magyarországon naponta 70 honfitársunk szenved hirtelen szívhalált. A hirtelen szívhalál az orvosi beavatkozás számára oly ritkán elérhető tragikus esemény. Fiatal korban a szív, a koszorúserek fejlődési rendellenességei, illetve bizonyos öröklődő szívbetegségek, ritmuszavarok okozzák. A felnőttkorba érve, 30 - 40 éves kortól fő oka a koszorúér betegség. A beszűkült koszorúereken átfolyó vér fizikai vagy lelki terhelés, stressz esetén már nem biztosít megfelelő oxigénellátást a szívizomzatnak. A vérellátását nélkülöző szívizomzatból pedig halálos ritmuszavar indul ki. Ez legtöbbször kamrafibrilláció, kamraremegés. Ilyenkor a szívizomzat máskor oly csodálatos rendben működő sejtjei össze-vissza, egymástól függetlenül kezdenek működni, aminek következtében a szív, mint pumpa megáll. Sokszor a hirtelen szívhalál a szívinfarktus első tünete, az infarktus során elzáródó koszorúérben megáll a vérkeringés, mely akár másodperceken belül kamraremegést, hirtelen szívhalált okozhat.</p>
            <p class="lead">
               
            </p>
        </div>

    </div>
    <div class="col-2"></div>

</div>